<!DOCTYPE html>
<html>
<head lang="{{ LANGUAGE_CODE }}">
	<title>
		{% block head_title %} Rinconegocios.com {% endblock head_title %}
	</title>
	{% include 'snippets/head.html' %}
</head>
<body>
{% include 'snippets/header_small.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}


{% trans "Insert your name" as insert_your_name %}
{% trans "Insert your email" as insert_your_email %}
{% trans "Insert your password" as insert_pass %}
{% trans "Confirm your password" as confirm_pass %}


<div class="registration_main">
	<div class="registration_body container">
		<div class="registration_form_wrapper">
			<div class="registration_logo_wrapper">
				<img src="{% static 'images/logo.svg' %}">
			</div>
			<div class="error_wrapper">

				{% if form.errors %}
				    {% for field in form %}
				        {% for error in field.errors %}
				            <div class="alert alert-danger">
				                <p>{{ error|escape }}</p>
				            </div>
				        {% endfor %}
				    {% endfor %}
				    {% for error in form.non_field_errors %}
				        <div class="alert alert-danger">
				            <p>{{ error|escape }}</p>
				        </div>
				    {% endfor %}
				{% endif %}
				
			</div>
			<div class="registration_form_body">
				<form class="formulario" method="post" action="{% url 'login_big' %}?next={% firstof request.path '/' %}">
                  {% csrf_token %}
                  
  		        		<div class="input_wrap">
  		    				<i class="fa fa-user" aria-hidden="true"></i>
  		    				{% render_field form.username placeholder=insert_your_email %}

  		        		</div>
  		        		<div class="input_wrap">
  		        			<i class="fa fa-lock" aria-hidden="true"></i>
  		    				<!-- {{ login_form.password }} -->
  		    				{% render_field form.password placeholder=insert_pass %}
  		    				
  		        		</div>
  		        		<div class="submit_button">
  		    				<input type="submit" class="btn-primary" value="{% trans 'Log In'%}"/>
  		        		</div>
  		        		<div class="pass_forget">
  		        			<a href="{% url 'password_reset' %}">{% trans 'Did you forget your password?' %}</a>
  		        		</div>
  		        		<div class="politics">
  		        			<p>{% trans 'By registering you accept our' %} <a href="#">{% trans 'politics' %}</a>{% trans 'and' %} <a href="#">{% trans 'privacy conditions' %}</a></p>

  		        			<p>{% trans 'if you dont have account' %}<a href="{% url 'register_big' %}">{% trans 'Sign In' %}</a></p>
  		        		</div>

  		        	</form>
			</div>
			<div class="registration_form_footer">
				
			</div>		
		</div>
	</div>
	
</div>


{% include 'snippets/js.html' %}
</body>

</html> 