<!DOCTYPE html>
<html>
<head lang="{{ LANAGUAGE_CODE }}">
	<title>
		{% block head_title %} Rinconegocios.com {% endblock head_title %}
	</title>
	{% include 'snippets/head.html' %}
</head>
<body>
{% include 'snippets/header_small.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

<div class="registration_main">
	<div class="registration_body container">

		<div class="registration_form_wrapper">
			<div class="registration_logo_wrapper">
				<img src="{% static 'images/logo.svg' %}">
			</div>
			<div class="error_wrapper">

			</div>
			<div class="password_reset_done_wrap">

	        		<div class="password_reset_done">
	        			<i class="fa fa-check-circle" aria-hidden="true"></i>
	        			<p>{% trans 'Check your inbox and click on the link we sent you to reset your password. Do not forget to check in your span folder if you can not find the email.' %}</p>
	        			
	        		</div>

			</div>
			<div class="registration_form_footer">
				
			</div>		
		</div>
	</div>
	
</div>
{% include 'snippets/js.html' %}