{% extends "profiles/base_dashboard.html" %}

{% block head_title %} Dashboard || {{ block.super }} {% endblock head_title %}

{% block content %}
{% load i18n %}
{% load static %}




<main class="jumbotron main-wrap">
	{% include 'snippets/dashboard_sidebar.html' %}

	<div class="user_deals_table_wrap">
			{% if messages %}
			     {% for message in messages %}
		<div class="alert alert-{{message.level_tag}} form_messages_wrap" role="alert">
			         {{ message }}
		</div>
			     {% endfor %}
			 {% endif %}

		{% if object_list %}
		<table class="table table-striped table-hover">
		  <thead>
		    <tr>
		      <th>{% trans 'Buyer' %}</th>
		      <th>{% trans 'Email' %}</th>
		      <th>{% trans 'Business' %}</th>
		      <th>{% trans 'Category' %}</th>
		      <th>{% trans 'Email' %}</th>
		      <th>{% trans 'Service' %}</th>
		      <th>{% trans 'Price' %}</th>
		      <th>{% trans 'Discount' %}</th>
		      <th><i class="fa fa-cogs" aria-hidden="true"></i></th>

		    </tr>
		  </thead>
		  <tbody>
		  	{% for obj in object_list %}
		    <tr>

		      <td>{{ obj.buyer.name }}</td>
		      <td>{{ obj.buyer.email }}</td>

		      {% if obj.buyer.affiliates_set %}
			  

				<td>
					<ul>
					{% for aff in obj.buyer.affiliates_set.all %}
					<li>{{ aff.name }}</li>
					{% endfor %}
					</ul>
				</td>
				<td>
					{% for aff in obj.buyer.affiliates_set.all %}
					{{ aff.get_category_display }}</br>
					{% endfor %}
				</td>
				<td>
					{% for aff in obj.buyer.affiliates_set.all %}
					{{ aff.email }}</br>
					{% endfor %}
				</td>


			   {% else %} 					

		   		<td colspan="3">{% trans 'No companies registered' %}</td>

			   {% endif %}
			   {% if obj.service %}

			    <td>{{ obj.service.name }}</td>
			    <td>{{ obj.service.price }}</td>
			    <td>{{ obj.service.discount }}</td>

			   {% else %}

			   	<td colspan="3">{% trans 'No service attached' %} </td>


			   {% endif %}
			   <td class="btn-group-vertical" role="group" aria-label="Basic example">
			   	  <button type="button" class="btn btn-secondary btn-sm">{% trans 'Client contacted' %}</button>
			   	  <button type="button" class="btn btn-secondary btn-sm">{% trans 'Deal Closed' %}</button>
			   	  <button type="button" class="btn btn-secondary btn-sm">{% trans 'Rate' %}</button>
			   </td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
			{% else %}

			<div class="no_deal_wrapper">
				<h3>{% trans 'You have no deals. Go make the first !' %}</h3>
				<a href="{% url 'services:list' %}" class="btn btn-primary">{% trans 'Get a Service Now' %}</a>
			</div>

			{% endif %}


	</div>



</main>


{% endblock %}