{% load i18n %}

<footer class="parent_footer ">
	<div class="child_footer container">
		<div class="tags">
			<a href="">Marketing</a>
			<a href="">Desarrollo Web</a>
			<a href="">Social Media</a>
			<a href="">Community Manager</a>
			<a href="">Diseño Gráfico</a>
			<a href="">Publicidad</a>
			<a href="">Operaciones</a>
			<a href="">Gestion Humana</a>
			<a href="">Consultoria</a>
			<a href="">Administracion</a>
			<a href="">Estrategia</a>
			<a href="">Bienes Raices</a>
			<a href="">Capital Privado</a>
		</div>
		<div class="informacion_empresa">
			<a href="">Politicas del Servicio</a>
			<a href="">Propiedad Intelectual</a>
			<a href="">Publica con Nosotros</a>
			<a href="">¿Eres Programador?</a>	
		</div>
		<div class="redes_sociales">
			<p>Síguenos</p>
			<div class="iconos">
				<a href=""><i class="fa fa-facebook-official" ></i></a>
				<a href=""><i class="fa fa-instagram"></i></a>
				<a href=""><i class="fa fa-twitter-square" ></i></a>
				<a href=""><i class="fa fa-pinterest-square" ></i></a>
				<a href=""><i class="fa fa-google-plus" ></i></a>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>Elaborado con <i class="fa fa-heart" ></i> por:</p>
		<a href=""><img src="img/logos/logoblanco.png"></a>
	</div>

</footer>