
{% load static %}
{% load i18n %}

	<header>
			<div class="container-fluid bienvenidos_small">

					<nav class="navbar-p">
						
					<ul>
					    <li><a href="index.html">{% trans 'SERVICES' %}</a></li>
						<li><a href="bienes_raices.html">{% trans 'REAL STATE' %}</a></li>
					    <li><a href="	">{% trans 'PRIVATE EQUITY' %}</a></li>
					    <li><a href="	">{% trans 'BLOG' %}</a></li>
					    <li><a href="	">{% trans 'OUR TEAM' %}</a></li>
					</ul>

				</nav>
		        <div class="follow-us-small">
		        	<p>{% trans 'Follow Up' %}</p>
		            <a href="">
		            	<i class="fab fa-facebook-f" aria-hidden="true"></i>
		            </a>
		            <a href="">
		            	<i class="fab fa-twitter" aria-hidden="true"></i>
		            </a>
		            <a href="">
		            	<i class="fab fa-linkedin" aria-hidden="true"></i>
		            </a>
		            
		        </div>

		</div>

	</header>
	

