<!DOCTYPE html>
<html>
	<head>
		<title>Rinconegocios</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

		<!-- Latest compiled and minified CSS -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->


		<!-- Latest compiled and minified JavaScript -->
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

		<link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:700|Oswald:700|Signika:600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<script src="https://use.fontawesome.com/4f4839c27a.js"></script>
		


	</head>
	<body>
	<header>
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded upper-nav">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="#">Menú Principal</a>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Servicios<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Bienes Raices<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Capital Privado<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Blog<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Nosotros<span class="sr-only">(current)</span></a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0" wtx-context="EEF1E168-648D-4D42-BBD0-6C5BF9134BAD">
		      <input class="form-control mr-sm-2" type="text" placeholder="Search" wtx-context="E4633C77-3382-42F6-A937-B747D4BC0370">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
		<div class="jumbotron img-h">
			<img src="img/logo.svg">
		</div>
		<div class="container-fluid bienvenidos">
			
			 <a href="	" class="loguito"><img src="img/logo2.svg"></a>
			
			<nav class="navbar-p">
					
				<ul>
				    <li><a href="index.html">SERVICIOS</a></li>
<!-- 				    <li><a href="	">BIENES RAICES</a></li>
				    <li><a href="	">CAPITAL PRIVADO</a></li>
				    <li><a href="	">BLOG</a></li>
				    <li><a href="	">NOSOTROS</a></li> -->
				</ul>

			</nav>
            <div class="follow-us">
            	<p>Síguenos</p>
	            <a href="">
	            	<i class="fa fa-facebook-square" aria-hidden="true"></i>
	            </a>
	            <a href="">
	            	<i class="fa fa-twitter-square" aria-hidden="true"></i>
	            </a>
	            <a href="">
	            	<i class="fa fa-linkedin-square" aria-hidden="true"></i>
	            </a>
	            
            </div>
            <div class="icons">
            	<p><a href="dashboard.html">Ballanxello</a></p>
            	<a class="user-button" data-toggle="modal" data-target=".login_modal"><i class="fa fa-user" aria-hidden="true"></i></a>
            	<a id="menu-toggle" class="menu-button"><i class="fa fa-bars" aria-hidden="true"></i></a>
            	

            </div>

           
            

		</div>
	</header>
	<main class="jumbotron main-wrap">

		<nav class="sidebar" >
			<ul > 
				<li class="parent">
					<a href="	" ><i class="fa fa-bullseye" ></i>Marketing</a><i class="fa fa-chevron-right" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
				</li>
				<div class="collapse" id="collapseExample">
				    <ul class="submenu" id="marketing_services">
				    	<li><a href="	">Desarrollo Web</a></li>
				    	<li><a href="	">Social Media Manager</a></li>
				    	<li><a href="	">Community Manager</a></li>
				    	<li><a href="	">Diseño Grafico</a></li>
				    	<li><a href="	">Publicidad</a></li>
				    </ul>
				</div>
				
				<li>
					<a href="	"><i class="fa fa-bar-chart" ></i>Finanzas</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
				</li>
				<li>
					<a href="	"><i class="fa fa-cogs" ></i>Operaciones</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
				</li>
				<li>
					<a href="	"><i class="fa fa-users" ></i>Gestion Humana</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
				</li>
				<li>
					<a href="	"><i class="fa fa-briefcase" ></i>Consultoría</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
				</li>
				<li>
					<a href="	"><i class="fa fa-pencil" ></i>Administración</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
				</li>
				<li>
					<a href="	"><i class="fa fa-lightbulb-o" ></i>Estrategia</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
				</li>
			</ul>			
		</nav>
		<div class="wrap-content">
			<div class="container-fluid imagen_principal_empresa">

					<div class="avatar_empresa">
						<img src="/img/logos/logo1.png">

					</div>	
					
			</div>
			<div class="franja">
				<div class="espacio_libre">
					
				</div>
				<div class="nombre">
					<h4>ROIStar Digital</h4>
				</div>
				
			</div>
			<div class="container-fluid datos_empresa datos_empresa_2">
				<div class="nombre_oculto">
					<h3>ROIStar Digital</h3>
				</div>
				<div class="info_empresa">
					<div class="ie_body">
						<div class="ie_body_item">
							<i class="fa fa-map-marker" ></i>
							<div class="ie_body_item_text">
								<h5>Ubicacion</h5>
								<span>Venezuela</span>
							</div>
						</div>
						<div class="ie_body_item">
							<i class="fa fa-calendar" ></i>
							<div class="ie_body_item_text">
								<h5>Años</h5>
								<span>7</span>
							</div>
						</div>
						<div class="ie_body_item">
							<i class="fa fa-tags" ></i>
							<div class="ie_body_item_text">
								<h5>Categoría</h5>
								<span>Marketing</span>
							</div>
						</div>
						
					</div>
					<div class="ie_footer">
						<a type="button" data-toggle="modal" data-target=".me_interesa_modal-lg" class="btn btn-info">CONTACTAR</a>
					</div>
				</div>
				<div class="info_area">
					<div class="titulo_empresa">
						<h3>¿Quienes son ROIStar Digital?</h3>
					</div>
					<div class="presentacion">	
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="titulo_empresa">
						<h3>Perfil Estratégico</h3>
					</div>
					<div class="perfil_estrategico_wrap">
						
						<div class="perfil_estrategico">
							<div id="accordion" role="tablist" aria-multiselectable="true">
							  <div class="card">
							    <div class="card-header" role="tab" id="headingOne">
							      <h5 class="mb-0">
							        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
							          Misión
							        </a>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
							      <div class="card-block">
							        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
							      </div>
							    </div>
							  </div>
							  <div class="card">
							    <div class="card-header" role="tab" id="headingTwo">
							      <h5 class="mb-0">
							        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							          Visión
							        </a>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
							      <div class="card-block">
							        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
							      </div>
							    </div>
							  </div>
							  <div class="card">
							    <div class="card-header" role="tab" id="headingThree">
							      <h5 class="mb-0">
							        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
							          Valores
							        </a>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingOne">
							      <div class="card-block">
							        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
							      </div>
							    </div>
							  </div>
							</div>
						</div>
						<div class="ubicacion">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.1909351034283!2d-66.93649598511739!3d10.485609592519271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a5f1127bcc7d9%3A0x2c24855a1276ab11!2sROIStar+Digital!5e0!3m2!1ses-419!2sve!4v1503430663881" width="100%" height="350px" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="titulo_empresa">
						<h3>Ofertas Disponibles</h3>
					</div>
					<div class="servicios_de_la_empresa">
						<div class="unidad">	
								<div class="logo-ranking">
									<div class="logo">
										<img src="img/logos/logo1.png">
									</div>
									<div class="ranking">	
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
									</div>	
								</div>
								<div class="imagen-principal">
									<img src="img/servicios/servicio2.jpeg">	
								</div>
								<div class="nombre-servicio">	
									<div class="bd-example">
									  <div id="producto_2" class="carousel slide" data-ride="carousel" data-interval="false">
									    <ol class="carousel-indicators">
									      <li data-target="#producto_2" data-slide-to="0" class="active"></li>
									      <li data-target="#producto_2" data-slide-to="1"></li>
									      <li data-target="#producto_2" data-slide-to="2"></li>
									    </ol>
									    <div class="carousel-inner" role="listbox">
									      <div class="carousel-item active">
									         <p>Campaña de Marketing para Instagram</p>
									      </div>
									      <div class="carousel-item">
									        <p>Somos los mejores en nuestro genero creamos tu identidad coporativa desde cero y adicionalmente te regalamos una asesoria gratuita en redes sociales</p>
									      </div>
									      <div class="carousel-item">
									      	<button type="button" class="btn-oferta btn btn-info">Ver Oferta</button>
									        <button type="button" class="btn-contacto btn btn-success">Contactar</button>
									        
									      </div>
									    </div>
									    <a class="carousel-control-prev" href="#producto_2" role="button" data-slide="prev">
									      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
									      <span class="sr-only">Previous</span>
									    </a>
									    <a class="carousel-control-next" href="#producto_2" role="button" data-slide="next">
									      <span class="carousel-control-next-icon" aria-hidden="true"></span>
									      <span class="sr-only">Next</span>
									    </a>
									  </div>
									</div>
								</div>
								<div class="oferta">
									<div class="item descuento">	
										<span>-50%</span>
									</div>
									<div class="item precio">	
										<span>$1.000</span>
									</div>
									<div class="item  boton">
										<a href="pagina_servicio.html" type="button" class="mini-btn-oferta btn btn-primary btn-sm">Ver oferta</a>	
									</div>		
								</div>
						</div>
						<div class="unidad">	
								<div class="logo-ranking">
									<div class="logo">
										<img src="img/logos/logo1.png">
									</div>
									<div class="ranking">	
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
									</div>	
								</div>
								<div class="imagen-principal">
									<img src="img/servicios/servicio3.jpeg">	
								</div>
								<div class="nombre-servicio">	
									<div class="bd-example">
									  <div id="producto_2" class="carousel slide" data-ride="carousel" data-interval="false">
									    <ol class="carousel-indicators">
									      <li data-target="#producto_2" data-slide-to="0" class="active"></li>
									      <li data-target="#producto_2" data-slide-to="1"></li>
									      <li data-target="#producto_2" data-slide-to="2"></li>
									    </ol>
									    <div class="carousel-inner" role="listbox">
									      <div class="carousel-item active">
									         <p>Campaña de Marketing para Instagram</p>
									      </div>
									      <div class="carousel-item">
									        <p>Somos los mejores en nuestro genero creamos tu identidad coporativa desde cero y adicionalmente te regalamos una asesoria gratuita en redes sociales</p>
									      </div>
									      <div class="carousel-item">
									      	<button type="button" class="btn-oferta btn btn-info">Ver Oferta</button>
									        <button type="button" class="btn-contacto btn btn-success">Contactar</button>
									        
									      </div>
									    </div>
									    <a class="carousel-control-prev" href="#producto_2" role="button" data-slide="prev">
									      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
									      <span class="sr-only">Previous</span>
									    </a>
									    <a class="carousel-control-next" href="#producto_2" role="button" data-slide="next">
									      <span class="carousel-control-next-icon" aria-hidden="true"></span>
									      <span class="sr-only">Next</span>
									    </a>
									  </div>
									</div>
								</div>
								<div class="oferta">
									<div class="item descuento">	
										<span>-50%</span>
									</div>
									<div class="item precio">	
										<span>$1.000</span>
									</div>
									<div class="item  boton">
										<a href="pagina_servicio.html" type="button" class="mini-btn-oferta btn btn-primary btn-sm">Ver oferta</a>	
									</div>		
								</div>
						</div>
						<div class="unidad">	
								<div class="logo-ranking">
									<div class="logo">
										<img src="img/logos/logo1.png">
									</div>
									<div class="ranking">	
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
									</div>	
								</div>
								<div class="imagen-principal">
									<img src="img/servicios/servicio4.jpeg">	
								</div>
								<div class="nombre-servicio">	
									<div class="bd-example">
									  <div id="producto_2" class="carousel slide" data-ride="carousel" data-interval="false">
									    <ol class="carousel-indicators">
									      <li data-target="#producto_2" data-slide-to="0" class="active"></li>
									      <li data-target="#producto_2" data-slide-to="1"></li>
									      <li data-target="#producto_2" data-slide-to="2"></li>
									    </ol>
									    <div class="carousel-inner" role="listbox">
									      <div class="carousel-item active">
									         <p>Campaña de Marketing para Instagram</p>
									      </div>
									      <div class="carousel-item">
									        <p>Somos los mejores en nuestro genero creamos tu identidad coporativa desde cero y adicionalmente te regalamos una asesoria gratuita en redes sociales</p>
									      </div>
									      <div class="carousel-item">
									      	<button type="button" class="btn-oferta btn btn-info">Ver Oferta</button>
									        <button type="button" class="btn-contacto btn btn-success">Contactar</button>
									        
									      </div>
									    </div>
									    <a class="carousel-control-prev" href="#producto_2" role="button" data-slide="prev">
									      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
									      <span class="sr-only">Previous</span>
									    </a>
									    <a class="carousel-control-next" href="#producto_2" role="button" data-slide="next">
									      <span class="carousel-control-next-icon" aria-hidden="true"></span>
									      <span class="sr-only">Next</span>
									    </a>
									  </div>
									</div>
								</div>
								<div class="oferta">
									<div class="item descuento">	
										<span>-50%</span>
									</div>
									<div class="item precio">	
										<span>$1.000</span>
									</div>
									<div class="item  boton">
										<a href="pagina_servicio.html" type="button" class="mini-btn-oferta btn btn-primary btn-sm">Ver oferta</a>	
									</div>		
								</div>
						</div>


					</div>		
				</div>
				
				
					
				

			</div>

		</div>
		<div>	</div>
	</main>
	<footer class="parent_footer ">
		<div class="child_footer container">
			<div class="tags">
				<a href="">Marketing</a>
				<a href="">Desarrollo Web</a>
				<a href="">Social Media</a>
				<a href="">Community Manager</a>
				<a href="">Diseño Gráfico</a>
				<a href="">Publicidad</a>
				<a href="">Operaciones</a>
				<a href="">Gestion Humana</a>
				<a href="">Consultoria</a>
				<a href="">Administracion</a>
				<a href="">Estrategia</a>
				<a href="">Bienes Raices</a>
				<a href="">Capital Privado</a>
			</div>
			<div class="informacion_empresa">
				<a href="">Politicas del Servicio</a>
				<a href="">Propiedad Intelectual</a>
				<a href="">Publica con Nosotros</a>
				<a href="">¿Eres Programador?</a>	
			</div>
			<div class="redes_sociales">
				<p>Síguenos</p>
				<div class="iconos">
					<a href=""><i class="fa fa-facebook-official" ></i></a>
					<a href=""><i class="fa fa-instagram"></i></a>
					<a href=""><i class="fa fa-twitter-square" ></i></a>
					<a href=""><i class="fa fa-pinterest-square" ></i></a>
					<a href=""><i class="fa fa-google-plus" ></i></a>
				</div>
			</div>
		</div>
		<div class="copyright">
			<p>Elaborado con <i class="fa fa-heart" ></i> por:</p>
			<a href=""><img src="img/logos/logoblanco.png"></a>
		</div>

	</footer>


	<!--JAVASCRIPT FILES-->
			

		<script
		  src="https://code.jquery.com/jquery-3.2.1.js"
		  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		  crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="js/main.js"></script>


	<!-- LOGIN MODAL -->

	<div class="modal fade login_modal" tabindex="-1" role="dialog"
	     aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	  		 <div class="login_modal_content">
	  		    <div class="login_modal_head">
	  	        	<div class="login_title">
	  	    	    	<h3>Entrar</h3>
	  	        		
	  	        	</div>
	  	        	<div class="register_title">
	  		    	    	<h3>Registrarse</h3>
	  		        		
	  		        </div>
	  		    </div>
	  		    <div class="login_modal_body">
	  		        <div class="login">    
	  		        	<form class="formulario">
	  		        		<div class="input_wrap">
	  		    				<i class="fa fa-user" aria-hidden="true"></i>
	  		    				<input type="text" placeholder="Inserte su correo"/>
	  		        		</div>
	  		        		<div class="input_wrap">
	  		        			<i class="fa fa-lock" aria-hidden="true"></i>
	  		    				<input type="password" placeholder="Inserte su contraseña">
	  		        		</div>
	  		        		<div class="submit_button">
	  		    				<input type="submit" class="btn-primary" value="Iniciar Sesion"/>
	  		        		</div>
	  		        		<div class="pass_forget">
	  		        			<a href="#" data-toggle="modal" data-target=".rec_pass_modal">¿Haz olvidado la contraseña?</a>
	  		        		</div>
	  		        		<div class="politics">
	  		        			<p>Al registrarte, aceptas nuestras <a href="#">Condiciones de uso</a> y <a href="#">Política de privacidad.</a></p>
	  		        		</div>

	  		        	</form>
	  		        	
	  		        </div>
	  		        <div class="register">
	  		        	
	  		        	<form class="formulario">
	  		        		<div class="input_wrap">
	  		    				<i class="fa fa-user" aria-hidden="true"></i>
	  		    				<input type="text" placeholder="Inserte su nombre"/>
	  		        		</div>
	  		        		<div class="input_wrap">
	  		    				<i class="fa fa-envelope" aria-hidden="true"></i>
	  		    				<input type="email" placeholder="Inserte su correo"/>
	  		        		</div>
	  		        		<div class="input_wrap">
	  		        			<i class="fa fa-lock" aria-hidden="true"></i> 
	  		    				<input type="password" placeholder="Inserte su contraseña">
	  		        		</div>
	  		        		<div class="checkbox_wrap">
	  		        			<input type="checkbox" id="check_this">
	  		        			<label for="check_this">Echa un vistaso aqui para ver fantasticas ofertas y recomendaciones personalizadas de servicios</label>
	  		        		</div>
	  		        		<div class="submit_button">
	  		    				<input type="submit" class="btn-primary" value="Registrarme"/>
	  		        		</div>	
	  		        	</form>
	  		           	
	  		        </div>
	  		    </div>
	  		    <div class="login_modal_footer">
	  		    
	  		    </div>
	  	      
	  	    </div>

	  </div>
	</div>

	<!-- RECUPERACION DE EMAIL MODAL -->

	<div class="modal fade rec_pass_modal" tabindex="-1" role="dialog"
	     aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg rec_pass_modal_child">
	  		 <div class="login_modal_content_email">
	  		    <div class="login_modal_head_email">
	  	        	<h3>¿Has olvidado la contraseña?</h3>
	  		    </div>
	  		    <div class="login_modal_body_email">
	  		    	<form>
	  		    		<div class="input_pass">
	  		    			<i class="fa fa-envelope" aria-hidden="true"></i>
	  			    		<input type="email" name="" placeholder="Introduzca su correo electronico" required>
	  			    		
	  		    		</div>
	  		    		<div class="rest_btn">
	  			    		<input type="submit" class="btn-primary" value="Restablecer contraseña" name="">
	  		    		</div>
	  		    		
	  		    	</form>

	  		   
	  		    </div>
	  		    <div class="login_modal_footer_email">
	  		    
	  		    </div>
	  	      
	  	    </div>


	  </div>
	</div>


	<!-- CONTACTO MODAL -->

	<div class="modal fade me_interesa_modal-lg" tabindex="-1" role="dialog"
	     aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal_contacto">
	    	<div class="modal_contacto_header">
	    		<h3>a un paso de hacer negocios</h3>
	    	</div>
	    	<div class="modal_contacto_body">
	    		<form>
	    			<div class="mc_wrapper_parent">
	    				<div class="mc_wrapper">
	    					
	    					<div class="mc_input_wrapper">
	    						<label for="name">Nombre*</label>
	    						<div class="mc_icon_wrapper">
	    							<i class="fa fa-user" aria-hidden="true"></i>
	    							<input type="text" name="name" placeholder="¿Cómo te llamas?">
	    						</div>
	    					</div>
	    					<div class="mc_input_wrapper">
	    						<label for="lastname">Apellido</label>
	    						<div class="mc_icon_wrapper">
	    							<i class="fa fa-user" aria-hidden="true"></i>
	    							<input type="text" name="lastname" placeholder="No es necesario si no quieres.">
	    						</div>
	    					</div>
	    				</div>
	    				<div class="mc_wrapper">
	    					
	    					<div class="mc_input_wrapper">
	    						<label for="phone">Telefono de contacto</label>
	    						<div class="mc_icon_wrapper">
	    							<i class="fa fa-mobile-phone" aria-hidden="true"></i>
	    							<input type="text" name="phone" placeholder="Solo si eres buen conversador">
	    						</div>
	    					</div>
	    					<div class="mc_input_wrapper">
	    						<label for="mail">Mail de contacto*</label>
	    						<div class="mc_icon_wrapper">
	    							<i class="fa fa-envelope" aria-hidden="true"></i>
	    							<input type="text" name="mail" placeholder="Deja tu mail por acá">
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="mc_comentarios">
	    				<div class="mc_coment_input_wrapper">
	    					<label>Mensaje</label>
	    					<textarea placeholder="Hola quisiera más información sobre este servicio."></textarea>
	    				</div>
	    			</div>
	    			<div class="mc_submit">
	    				<input type="submit" class="btn-primary" value="Quiero una presentación" name="">
	    			</div>

	    		</form>			
	    	</div>
	    	<div class="modal_contacto_footer">
	    		
	    	</div>
	    </div>
	  </div>
	</div>
		
	</body>
	
</html>