<div class="wrap-content-form">
	<div class="content-form-opt">
		<ul class="nav nav-tabs">
		  <li class="nav-item" id="btn-pub-emp">
		    <a class="pub-emp nav-link active" href="#!">Publicar Empresa</a>
		  </li>
		  <li class="nav-item" id="btn-pub-anu">
		    <a class="pub-anu nav-link" href="#!">Publicar Anuncio</a>
		  </li>
		</ul>
	</div>
	<div class="form-content">
		<form id="form1">
			<div class="form-title">
				<h3>Publicar Empresa</h3>
			</div>
			<div class="form_input_wrap">
				<label for="nombre_comercial">Nombre comercial</label>
				<input type="text" name="nombre_comercial">
			</div>
			<div class="form_input_wrap">
				<label for="sitio_web">Sitio Web</label>
				<input type="text" name="sitio_web">
			</div>
			<div class="form_input_wrap">
				<label for="desc_empresa">Descripcion de tu empresa</label>
				<textarea name="desc_empresa"></textarea>
			</div>
			<div class="form_input_wrap">
				<label for="desc_empresa">Lista de principales productos y servicios que ofrece tu empresa</label>
				<textarea name="desc_empresa"></textarea>
			</div>
			<div class="sector_negocios">
				<label for="sector_negocios">Sector de Negocios</label>
				<select name="sector_negocios">
				  <option value="" disabled selected>Selecciona</option>			
				  <option value="Marketing">Marketing</option>
				  <option value="Finanzas">Finanzas</option>
				  <option value="Operaciones">Operaciones</option>
				  <option value="Gestion Humana">Gestion Humana</option>
				  <option value="Estrategia">Estrategia</option>
				  <option value="Desarrollo">Desarrollo</option>
				</select>
			</div>
			<div class="form_input_wrap">
				<label for="logo">Agrega tu logo</label>
				<input type="file" name="logo"/>
				
			</div>
			<div class="form-title">
				<h3>Datos de tu empresa</h3>
			</div>
			<div class="dat_emp_wrap">
				<div class="dat_emp_wrap_child">
					<div class="form_input_wrap">
						<label for="ciudad">Ciudad</label>
						<input type="text" name="ciudad">
					</div>
					<div class="form_input_wrap">
						<label for="estado">Estado</label>
						<input type="text" name="estado">
					</div>
				</div>
				<div class="dat_emp_wrap_child">
					<div class="form_input_wrap">
						<label for="direccion">Dirección</label>
						<input type="text" name="direccion">
					</div>
				</div>			
			</div>
			<div class="form-title">
				<h3>Datos de contacto</h3>
			</div>
			<div class="dat_cont_wrap">
				<div class="dat_cont_wrap_child">
					<div class="form_input_wrap">
						<label for="nombre">Nombre</label>
						<input type="text" name="nombre">
					</div>
					<div class="form_input_wrap">
						<label for="apellido">Apellido</label>
						<input type="text" name="apellido">
					</div>
				</div>
				<div class="dat_cont_wrap_child">
					<div class="form_input_wrap">
						<label for="telefono">Teléfono</label>
						<input type="text" name="telefono">
					</div>
					<div class="form_input_wrap">
						<label for="email">Email</label>
						<input type="email" name="email">
					</div>
				</div>			
			</div>
			<div class="form-title">
				<h3>Perfiles sociales</h3>
			</div>
			<div class="perf_soc_wrap">
				<div class="perf_soc_wrap_child">
					<div class="form_input_wrap">
						<label for="linkedin">Linked In</label>
						<input type="text" name="linkedin">
					</div>
					<div class="form_input_wrap">
						<label for="instagram">Instagram</label>
						<input type="text" name="instagram">
					</div>
				</div>
				<div class="perf_soc_wrap_child">
					<div class="form_input_wrap">
						<label for="facebook">Facebook</label>
						<input type="text" name="facebook">
					</div>
					<div class="form_input_wrap">
						<label for="twitter">Twitter</label>
						<input type="text" name="twitter">
					</div>
				</div>			
			</div>
			<div class="submit_wrap">
				<input type="submit" class="btn-primary" name="">
			</div>

		</form>
		<form id="form2">
			<div class="form-title">
				<h3>Publicar Anuncio</h3>
			</div>
			<div class="form_input_wrap">
				<label for="titulo_servicio">Titulo del servicio</label>
				<input type="text" name="titulo_servicio">
			</div>
			<div class="form_input_wrap">
				<label for="sitio_web">Breve descripción del servicio</label>
				<textarea name="desc_empresa"></textarea>
			</div>
			<div class="form_input_wrap">
				<label for="desc_empresa">¿Por qué seleccionarte?</label>
				<p>Breve explicación de tus ventajas competitivas y aspectos diferenciadores</p>
				<textarea name="desc_empresa"></textarea>
			</div>
			
			<div class="form_input_wrap">
				<label for="logo">Foto Principal</label>
				<input type="file" name="logo"/>
				
			</div>
			<div class="form-title">
				<h3>Tipo de Oferta</h3>
			</div>
			<div class="tipo_offer_wrap">
				<div class="tipo_offer_wrap_child">
					<div class="radio-wrap">
					  	<input type="checkbox" name="precio_disponible">
					  	<label for="precio_disponible">Precio Disponible</label>
					</div>
					<div class="form_input_wrap">
						<input type="text" name="">
					</div>
				</div>
				<div class="tipo_offer_wrap_child">
					<div class="radio-wrap">
					  	<input type="checkbox" name="precio_disponible">
					  	<label for="precio_disponible">Descuento</label>
					</div>
					<div class="form_input_wrap_desc">
						<input type="text" name=""><span>%</span>
					</div>
				</div>
				<div class="tipo_offer_wrap_child">
					<div class="radio-wrap">
					  	<input type="checkbox" name="precio_disponible">
					  	<label for="precio_disponible">Antes / Ahora</label>
					</div>
					<div class="form_input_wrap_aa">
						<input type="text" name="">
						<input type="text" name="">
					</div>
				</div>
				<div class="tipo_offer_wrap_child">
					<div class="radio-wrap">
					  	<input type="checkbox" name="precio_disponible">
					  	<label for="precio_disponible">Gratis</label>
					</div>
				</div>
	

			</div>
			<div class="form-title">
				<h3>Datos de contacto</h3>
			</div>
			<div class="dat_cont_wrap">
				<div class="dat_cont_wrap_child">
					<div class="form_input_wrap">
						<label for="nombre">Nombre</label>
						<input type="text" name="nombre">
					</div>
					<div class="form_input_wrap">
						<label for="apellido">Apellido</label>
						<input type="text" name="apellido">
					</div>
				</div>
				<div class="dat_cont_wrap_child">
					<div class="form_input_wrap">
						<label for="telefono">Teléfono</label>
						<input type="text" name="telefono">
					</div>
					<div class="form_input_wrap">
						<label for="email">Email</label>
						<input type="email" name="email">
					</div>
				</div>			
			</div>
			<div class="submit_wrap">
				<input type="submit" class="btn-primary" name="">
			</div>

		</form>
	</div>
</div>